body {
  background-color: #ffffff;
}
.container-fluid {
  padding: 0;
}
.row {
  display: flex;
  align-items: center;
}
/* HOME PAGE */

/* Navbar */
.navbar {
  background-color: #ffffff !important;
}
.navbar-nav .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  z-index: 1000;
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}
.navbar-nav .dropdown-menu li a:hover {
  background-color: #ffd34e;
}

/* Search Bar */
.custom-search-input {
  width: 600px !important;
  height: 60px !important;
  border-radius: 25px !important;
  border-color: #f48b48 !important;
}
.custom-search-button {
  height: 60px !important;
  width: 60px !important;
  border-color: #f48b48 !important;
  border-radius: 25px !important;
}
.custom-search-button i {
  color: #f48b48 !important;
}
.custom-search-button:hover {
  background-color: #f48b48 !important;
}
.custom-search-button:hover i {
  color: #ffffff !important;
}
/* Carousel Slider */
.carousel-inner img {
  height: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0;
  border-radius: 20px !important;
}
/* Category Heading  */
.Category-head .pet {
  color: #f48b48;
  font-weight: 1000;
  font-size: 60px;
}
.Category-head .categories {
  color: #ffd34e;
  font-weight: 1000;
  font-size: 30px;
}
/* Product Line Section */
.product-line {
  margin-bottom: 5%;
}
.color-1 {
  color: #f48b48;
}
.color-2 {
  color: #ffd34e;
}
.heading-text span {
  font-weight: 1000;
  font-size: 60px;
}
.product-line .col-md-4 {
  margin: auto;
  margin-bottom: 5%;
  margin-top: 2%;
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.product-line .position-relative img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.6s ease-in-out;
}
.product-line .position-relative img:hover {
  transform: scale(1.1);
}
.dog {
  position: static;
  align-self: flex-start;
}
.cat {
  position: static;
  align-self: flex-end;
}
.text-container {
  text-align: center;
  width: 100%;
}
.text-container-cat {
  text-align: end;
  width: 100%;
}
.text-container-cat h5 {
  text-align: end;
  margin-bottom: 3%;
}
/* Footer */
footer img {
  width: 150px;
  height: 150px;
}
footer h5 {
  font-weight: bold;
  margin-bottom: 1rem;
  color: #f48b48;
}
footer h5:hover {
  color: #ffd34e;
}
footer a {
  color: black;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer {
  background-color: white;
}

footer .bg-copyright {
  background-color: white;
}

footer p {
  margin-bottom: 0;
}
footer .payment-img img {
  width: 50px;
  height: 50px;
  transition: 0.3s ease-in-out;
}
footer .payment-img img:hover {
  transform: scale(1.1);
}

/** Product details section */
.product_details .col-md-6{
  padding: 20px;
  box-sizing: border-box;
  max-height: 500px; 
  overflow: hidden;
}
.zoomLens{
  width: 200px!important; 
  height: 200px!important;
}
.product_details .main_image img{
  width: 100%;
  height: 350px;
  object-fit: fill;
  cursor: pointer;
}
.product_details .col img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}
.product_details .col{
  max-width: 100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.small-images .col {
  border: 2px solid transparent;
}
.small-images .col:hover {
  cursor: pointer; 
}
form .add-to{
  width: 100%;
  border:2px solid #f48b48;
  border-radius: 5px;
  color: #f48b48;
  transition: ease-in-out 0.3s;
}
form .add-to:hover{
  background-color: #ffd34e;
  color: #f48b48;
  transform: scalex(1.1);
}
form .go-to{
  width: 100%;
  background-color: #ffd34e;
  color: #ffffff;
  transition: ease-in-out 0.3s;
}
form .go-to:hover {
  background-color: #ffd34e;
  color: #ffffff;
  transform: scalex(1.1);
}
form .buy-now{
  width:100%;
  border:2px solid #f48b48;
  border-radius: 5px;
  color: #f48b48;
  transition: ease-in-out 0.3s;
}
form .buy-now:hover{
  background-color: #f48b48;
  color: #ffffff;
  transform: scalex(1.1);
}
.product_details .overflow-auto{
  height: 450px;
}
.product_details h1 {
  color: #333; 
  font-family: Georgia, serif;
  font-size: 2.5rem; 
  font-weight: bold;
}

.product_details h5 {
  color: #28a745; 
  font-size: 1.5rem; 
  margin-bottom: 1rem;
}
.wishlist i{
  transition: ease-in-out 0.3s;
}
.wishlist i:hover{
  transform: scalex(1.1);
}
.plus_wishlist i{
  color: #FFD43B; 
}
.minus_wishlist i{
  color: #F48B48;
}
.product_details p {
  line-height: 1.6;
  font-size: 1.1rem;
}
.accordion-button:hover{
  box-shadow: 0px 4px 8px #f48b48;
}
.product_viewmore b{
  color: #f48b48;
  cursor: pointer;
}
.product_viewmore b:hover{
  color: #ef762a;
  text-decoration: underline;
}
/** products by category*/ 
.cvp .col-sm-9 { /* cvp - category vice products */
  height: 100vh;
  overflow-y: scroll;
}
.cvp .col-md-4 {
  padding-bottom: 20px;
}
.cvp a.btn{
  color: #f48b48;
  border-color: #f48b48;
  width: 40%;
}
.cvp a.btn:hover{
  background-color: #f48b48;
  color: white;
}
.list-group a{
  border-color: #f48b48;
  font-weight: 500;
}
.list-group a:hover{
  background-color: #ffd34e;

}
/* Contact Section */
.contact-us img {
  width: 100%;
  height: 556px;
  object-fit: cover;
}
.contact-us .form-group {
  margin-bottom: 15px;
}
.contact-us label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}
.contact-us input[type="text"],
.contact-us input[type="email"],
.contact-us textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}
.contact-us input[type="text"]:focus,
.contact-us input[type="email"]:focus,
.contact-us textarea:focus {
  border-color: #ffd34e;
  outline: none;
}
.contact-us textarea {
  resize: vertical;
}
.contact-us .btn {
  background-color: #f48b48;
  border-color: #f48b48;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}
.contact-us .btn:hover {
  background-color: #ffd34e;
  border-color: #ffd34e;
}
.contact-us .container { /* Additional form container styles */
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.contact-us h1 {
  font-weight: 1000;
  font-size: 60px;
}
.contact-us h1,  /* General layout and typography */
.contact-us h2 {
  color: #333;
  margin-bottom: 15px;
}

.contact-us p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

.contact-us ul {
  list-style-type: none;
  padding: 0;
}

.contact-us ul li {
  margin-bottom: 10px;
}
.contact-us ul li a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}
.social-media-links { /* contact us Social media links */
  display: flex;
  gap: 10px;
}
.social-media-links li {
  display: inline-block;
}
.social-media-links li a {
  display: block;
  padding: 10px 15px;
  background-color: #f48b48;
  color: black;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.social-media-links li a:hover {
  background-color: #ffd34e;
}
/* About section */
.about-us  {
  height: 100%;
  background-color: #ffd34e;
  align-items: center;
  display: flex;
}
.about-us img {
  height: 500px;
  width: 80%;
  margin-top: 15%;
  margin-bottom: 15%;
  transition: 0.6s ease-in-out;
}
.about-us img:hover {
  transform: scale(1.1);
}
.about-us h1 {
  font-weight: 1000;
  font-size: 60px;
}
.contact-us-btn {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: #f48b48;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
}
.contact-us-btn a {
  color: white;
}
.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.contact-us-btn:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.contact-us-btn:hover .icon {
  transform: translate(4px);
}

.contact-us-btn:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.contact-us-btn::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
/*Profile page*/
.profile_form .col-sm-9 {
  margin-top: -150px;
  height: 400px;
}
.update_address .col-sm-9 {
  height: 400px;
}
.image-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  transition: border-color 0.3s;
}
.image-upload:hover {
  border-color: #333;
}
#file-input {
  display: none;
}
.profile-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.image-upload:hover .upload-icon {
  transform: scale(1.1);
}
.btn-profile1, .btn-orders1, .btn-addNew{
  background-color: #f48b48!important;
}
.btn-addnew1, .btn-orders, .btn-profile2, .btn-Update, .btn-upload, .btn-address, .btn-profile {
  background-color: #ffd34e !important;
}
/* login section */
.login-background {
  background-image: url('/static/app/images/banner/login_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login{
  margin-top: -10px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
.login h1 {
  font-weight: 1000;
  font-size: 60px;
}
form a{
  color: #f48b48;
  text-decoration: none;
  transition: color 0.3s;
}
form a:hover{
color: #ffd34e;
transform: scale(1.2);
}
form .login-btn {
  background-color: #f48b48;
  border-color: #f48b48;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 1000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}
form .login-btn:hover {
  background-color: #ffd34e;
  border-color: #ffd34e;
  color: white;
}
/* New User Registration Section */
.register-background {
  background-image: url('/static/app/images/banner/login_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register{
  margin-top: -10px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
.register h1{
  margin-top: -30px;
  font-weight: 1000;
  font-size: 60px;
}
form .register-btn {
  background-color: #f48b48;
  border-color: #f48b48;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 1000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}
form .register-btn:hover {
  background-color: #ffd34e;
  border-color: #ffd34e;
  color: white;
}
/* Product card  */
.slide-container {
  width: 100%;
  padding: 10px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
  color: #f48b48;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}
/** card  */
.card {
  background: #f5f5f5;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0.5em;
  height: 100%;
}
.card-img img {
  width: 100%;
  height: 235px;
  border-radius: 0.5rem;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.card-img:hover img {
  transform: translateY(-5%);
}
.card-body {
  flex: 1;
}
.card-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-decoration-line-through {
  text-decoration: line-through;
  font-size: 0.9em;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  padding-top: 5px;
}
.card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f48b48;
  padding: 0.3em 1em;
  border-radius: 50px;
  transition: background-color 0.1s ease-in-out, border-color 0.3s ease-in-out;
}
.card-button:hover {
  background-color: #ffd34e;
  border-color: #ffcaa6;
}
.svg-icon {
  width: 20px;
  height: 20px;
}
/** Products at the cart page */
.cart-items {
  display: flex;
  flex-direction: column;
}

/* Products at the cart page */
.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.product-image {
  max-width: 150px;
  max-height: 150px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.cart-item h2 {
  margin: 0 0 10px;
}

.cart-item p {
  margin: 5px 0;
}

.cart-total {
  text-align: right;
  margin-top: 20px;
}

.cart-total h2 {
  font-size: 1.5em;
}

/* Media query for screens wider than 576px */ /*PENDING*/
@media (max-width: 667px) {
  .slider img {
    height: 300px;
  }
  .banner2 img {
    height: 300px;
  }
  .banners img {
    height: 300px;
  }

  .profile_form .col-sm-9 {
    margin-top: 50px;
    height: 550px;
  }
  .update_address .col-sm-9 {
    height: 550px;
  }
  .custom-search-input {
    width: 270px !important;
  }
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
  .product-line .col-md-4 {
    width: 300px;
    height: 350px;
  }
}
