asgiref==3.8.1
certifi==2024.6.2
charset-normalizer==3.3.2
Django==5.0.6
idna==3.7
numpy==1.26.4
pillow==10.3.0
psycopg2==2.9.9
razorpay==1.4.2
requests==2.32.3
setuptools==71.0.4
sqlparse==0.5.0
typing_extensions==4.12.0
tzdata==2024.1
urllib3==2.2.2
