{% extends "app/base.html" %}
{% load static %}
{% block title %}{{ category_title }}{% endblock title %}

{% block main-content %}
<!--navbar-->
{% include 'app/navbar.html' %}
<div class="container-fluid">
    <div class="row align-items-start cvp">
        {% if cat_prod_Categorys %}
        <!-- List cat products category -->
        <div class="col-sm-3 mt-3 ">
            <div class="text-center my-3">
                <a class="btn btn" href="{% url 'dog-products' %}"><b>Dog</b> </a>
                <a class="btn btn" href="{% url 'all-products' %}"><b>All </b></a>
            </div>   
            <div class="list-group">
                {% for catg in cat_prod_Categorys %}
                <a href="{% url 'categories' catg.category %}" class="list-group-item list-group-item-action" aria-current="true">
                    {{ catg.get_category_display }}
                </a>
                {% endfor %}
            </div>
        </div>
        <!-- Display the products by cat category -->
        <div class="col-sm-9 my-2">
            <div class="row">
                {% if Cat_product %}
                {% for prod in Cat_product %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-img">
                            <a href="{% url 'product_details' prod.id %}">
                                <img src="{{ prod.product_image.url }}" alt="{{ prod.title }}">
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ prod.title }}</h5>
                            <p><span class="text-muted text-decoration-line-through p-2">₹{{ prod.selling_price }} </span><b> ₹{{ prod.discount_price }}/-</b></p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'product_details' prod.id %}" class="card-button w-100">
                                <svg class="svg-icon" viewBox="0 0 20 20">
                                    <path d="M17.72,5.011H8.026c-0.271,0-0.49,0.219-0.49,0.489c0,0.271,0.219,0.489,0.49,0.489h8.962l-1.979,4.773H6.763L4.935,5.343C4.926,5.316,4.897,5.309,4.884,5.286c-0.011-0.024,0-0.051-0.017-0.074C4.833,5.166,4.025,4.081,2.33,3.908C2.068,3.883,1.822,4.075,1.795,4.344C1.767,4.612,1.962,4.853,2.231,4.88c1.143,0.118,1.703,0.738,1.808,0.866l1.91,5.661c0.066,0.199,0.252,0.333,0.463,0.333h8.924c0.116,0,0.22-0.053,0.308-0.128c0.027-0.023,0.042-0.048,0.063-0.076c0.026-0.034,0.063-0.058,0.08-0.099l2.384-5.75c0.062-0.151,0.046-0.323-0.045-0.458C18.036,5.092,17.883,5.011,17.72,5.011z"></path>
                                    <path d="M8.251,12.386c-1.023,0-1.856,0.834-1.856,1.856s0.833,1.853,1.856,1.853c1.021,0,1.853-0.83,1.853-1.853S9.273,12.386,8.251,12.386z M8.251,15.116c-0.484,0-0.877-0.393-0.877-0.874c0-0.484,0.394-0.878,0.877-0.878c0.482,0,0.875,0.394,0.875,0.878C9.126,14.724,8.733,15.116,8.251,15.116z"></path>
                                    <path d="M13.972,12.386c-1.022,0-1.855,0.834-1.855,1.856s0.833,1.853,1.855,1.853s1.854-0.83,1.854-1.853S14.994,12.386,13.972,12.386z M13.972,15.116c-0.484,0-0.878-0.393-0.878-0.874c0-0.484,0.394-0.878,0.878-0.878c0.482,0,0.875,0.394,0.875,0.878C14.847,14.724,14.454,15.116,13.972,15.116z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% elif dog_prod_Categorys %}
        <!-- List dog products category -->
        <div class="col-sm-3 my-3">
            <div class="text-center my-3">
                <a class="btn btn" href="{% url 'cat-products' %}"><b>Cat</b> </a>
                <a class="btn btn" href="{% url 'all-products' %}"><b>All </b></a>
            </div> 
            <div class="list-group">
                {% for catg in dog_prod_Categorys %}
                <a href="{% url 'categories' catg.category %}" class="list-group-item list-group-item-action" aria-current="true">
                    {{ catg.get_category_display }}
                </a>
                {% endfor %}
            </div>
        </div>
        <!-- Display the products by dog category -->
        <div class="col-sm-9 my-3">
            <div class="row">
                {% if Dog_product %}
                {% for prod in Dog_product %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-img">
                            <a href="{% url 'product_details' prod.id %}">
                                <img src="{{ prod.product_image.url }}" alt="{{ prod.title }}">
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ prod.title }}</h5>
                            <p><span class="text-muted text-decoration-line-through p-2">₹{{ prod.selling_price }} </span><b> ₹{{ prod.discount_price }}/-</b></p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'product_details' prod.id %}" class="card-button w-100">
                                <svg class="svg-icon" viewBox="0 0 20 20">
                                    <path d="M17.72,5.011H8.026c-0.271,0-0.49,0.219-0.49,0.489c0,0.271,0.219,0.489,0.49,0.489h8.962l-1.979,4.773H6.763L4.935,5.343C4.926,5.316,4.897,5.309,4.884,5.286c-0.011-0.024,0-0.051-0.017-0.074C4.833,5.166,4.025,4.081,2.33,3.908C2.068,3.883,1.822,4.075,1.795,4.344C1.767,4.612,1.962,4.853,2.231,4.88c1.143,0.118,1.703,0.738,1.808,0.866l1.91,5.661c0.066,0.199,0.252,0.333,0.463,0.333h8.924c0.116,0,0.22-0.053,0.308-0.128c0.027-0.023,0.042-0.048,0.063-0.076c0.026-0.034,0.063-0.058,0.08-0.099l2.384-5.75c0.062-0.151,0.046-0.323-0.045-0.458C18.036,5.092,17.883,5.011,17.72,5.011z"></path>
                                    <path d="M8.251,12.386c-1.023,0-1.856,0.834-1.856,1.856s0.833,1.853,1.856,1.853c1.021,0,1.853-0.83,1.853-1.853S9.273,12.386,8.251,12.386z M8.251,15.116c-0.484,0-0.877-0.393-0.877-0.874c0-0.484,0.394-0.878,0.877-0.878c0.482,0,0.875,0.394,0.875,0.878C9.126,14.724,8.733,15.116,8.251,15.116z"></path>
                                    <path d="M13.972,12.386c-1.022,0-1.855,0.834-1.855,1.856s0.833,1.853,1.855,1.853s1.854-0.83,1.854-1.853S14.994,12.386,13.972,12.386z M13.972,15.116c-0.484,0-0.878-0.393-0.878-0.874c0-0.484,0.394-0.878,0.878-0.878c0.482,0,0.875,0.394,0.875,0.878C14.847,14.724,14.454,15.116,13.972,15.116z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% elif all_categorys %}
        <!-- List the all categories -->
        <div class="col-sm-3 my-3">
            <div class="text-center my-3">
                <a class="btn btn" href="{% url 'cat-products' %}"><b>Cat</b> </a>
                <a class="btn btn" href="{% url 'dog-products' %}"><b>Dog</b> </a>
                
            </div> 
            <div class="list-group">
                {% for catg in  all_categorys %}
                <a href="{% url 'categories' catg.category %}" class="list-group-item list-group-item-action" aria-current="true">
                    {{ catg.get_category_display }}
                </a>
                {% endfor %}
            </div>
        </div>
        <!-- Display all products -->
        <div class="col-sm-9 my-3">
            <div class="row">
                {% if all_products %}
                {% for prod in all_products %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-img">
                            <a href="{% url 'product_details' prod.id %}">
                                <img src="{{ prod.product_image.url }}" alt="{{ prod.title }}">
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ prod.title }}</h5>
                            <p><span class="text-muted text-decoration-line-through p-2">₹{{ prod.selling_price }} </span><b> ₹{{ prod.discount_price }}/-</b></p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'product_details' prod.id %}" class="card-button w-100">
                                <svg class="svg-icon" viewBox="0 0 20 20">
                                    <path d="M17.72,5.011H8.026c-0.271,0-0.49,0.219-0.49,0.489c0,0.271,0.219,0.489,0.49,0.489h8.962l-1.979,4.773H6.763L4.935,5.343C4.926,5.316,4.897,5.309,4.884,5.286c-0.011-0.024,0-0.051-0.017-0.074C4.833,5.166,4.025,4.081,2.33,3.908C2.068,3.883,1.822,4.075,1.795,4.344C1.767,4.612,1.962,4.853,2.231,4.88c1.143,0.118,1.703,0.738,1.808,0.866l1.91,5.661c0.066,0.199,0.252,0.333,0.463,0.333h8.924c0.116,0,0.22-0.053,0.308-0.128c0.027-0.023,0.042-0.048,0.063-0.076c0.026-0.034,0.063-0.058,0.08-0.099l2.384-5.75c0.062-0.151,0.046-0.323-0.045-0.458C18.036,5.092,17.883,5.011,17.72,5.011z"></path>
                                    <path d="M8.251,12.386c-1.023,0-1.856,0.834-1.856,1.856s0.833,1.853,1.856,1.853c1.021,0,1.853-0.83,1.853-1.853S9.273,12.386,8.251,12.386z M8.251,15.116c-0.484,0-0.877-0.393-0.877-0.874c0-0.484,0.394-0.878,0.877-0.878c0.482,0,0.875,0.394,0.875,0.878C9.126,14.724,8.733,15.116,8.251,15.116z"></path>
                                    <path d="M13.972,12.386c-1.022,0-1.855,0.834-1.855,1.856s0.833,1.853,1.855,1.853s1.854-0.83,1.854-1.853S14.994,12.386,13.972,12.386z M13.972,15.116c-0.484,0-0.878-0.393-0.878-0.874c0-0.484,0.394-0.878,0.878-0.878c0.482,0,0.875,0.394,0.875,0.878C14.847,14.724,14.454,15.116,13.972,15.116z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock main-content %}
