{% extends "app/base.html" %}
{% load static %}
{% block title %}{{ category_title }}{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row">
        <!-- List product categories -->
        <div class="col-sm-3 my-3">
            <div class="list-group">
                {% for key, value in category_dict.items %}
                <a href="#" class="list-group-item list-group-item-action">
                    {{ value }}
                </a>
                {% endfor %}
            </div>
        </div>
        
        <!-- Display the products by category -->
        <div class="col-sm-9">
            {% for category_key, category_name in category_dict.items %}
            
            <h2 class="mt-4">{{ category_name }}</h2>
            <div class="row">
                {% for product in products %}
                {% if product.category == category_key %}
                <div class="col-md-4 my-3">
                    <div class="product card">
                        <img src="{{ product.product_image.url }}" class="card-img-top" alt="{{ product.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="card-text">Price: ${{ product.selling_price }}</p>
                            <a href="{% url 'product_details' product.pk %}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock main-content %}
