{% load static %}

<footer class=" text-white ">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-3 text-center">
                <img src="{% static 'app/images/banner/PawsomePicks.png' %}"  alt="Logo-images"><br>
            </div>
            <div class="col-md-3">
                <h5>Customer Service</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'contact' %}" >Contact Us</a></li>
                    <li><a href="#" >FAQs</a></li>
                    <li><a href="#" >Shipping & Delivery</a></li>
                    <li><a href="#" >Returns & Exchanges</a></li>
                    <li><a href="#" >Track Order</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Company</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'about' %}" >About Us</a></li>
                    <li><a href="#" >Careers</a></li>
                    <li><a href="#" >Blog</a></li>
                    <li><a href="#" >Press</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Shop</h5>
                <ul class="list-unstyled">
                    <li><a href="#" >Dog Supplies</a></li>
                    <li><a href="#" >Cat Supplies</a></li>
                    <li><a href="#" >Small Pets</a></li>
                    <li><a href="#" >New Arrivals</a></li>
                    <li><a href="#" >Best Sellers</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-3">
                <h5>Account</h5>
                <ul class="list-unstyled">
                    <li><a href="#" >My Account</a></li>
                    <li><a href="#" >Create Account</a></li>
                    <li><a href="#" >Order History</a></li>
                    <li><a href="#" >Wishlist</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Connect With Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#" >Newsletter Signup</a></li>
                    <li><a href="#" >Facebook</a></li>
                    <li><a href="#" >Instagram</a></li>
                    <li><a href="#" >Twitter</a></li>
                    <li><a href="#" >Pinterest</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Legal</h5>
                <ul class="list-unstyled">
                    <li><a href="#" >Privacy Policy</a></li>
                    <li><a href="#" >Terms & Conditions</a></li>
                    <li><a href="#" >Cookie Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3 payment-img">
                <h5>Payment Methods</h5>
                <p>
                    <img src="{% static 'app/images/banner/razorpay.png' %}" alt="razorpay" class="mr-2">
                    <img src="{% static 'app/images/banner/visa.png' %}" alt="Visa" class="mr-2">
                    <img src="{% static 'app/images/banner/card.png' %}" alt="MasterCard" class="mr-2">
                    <img src="{% static 'app/images/banner/american-express.png' %}" alt="American Express" class="mr-2">
                    <img src="{% static 'app/images/banner/paypal.png' %}" alt="PayPal" class="mr-2">
                    <img src="{% static 'app/images/banner/apple-pay.png' %}" alt="Apple Pay" class="mr-2">
                </p>
            </div>
        </div>
    </div>
    <div class="bg-copyright text-center text-dark py-3">
        <p class="mb-0">© 2024 PawsomePicks. All rights reserved.</p>
    </div>
</footer>