{% extends "app/base.html" %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<!--navbar-->
{% include 'app/navbar.html' %}
<div class="login-background">
    <div class='container '>
        <div class="row my-2">
            <div class="col-sm-6 offset-sm-3 shadow p-5 login-form">
                <!--heading text-->
                <h1>
                    <i class="fas fa-paw" style="color: #FFD43B;"></i> 
                    <span class="color-1">Login</span> 
                    <span class="color-2">Now</span>
                </h1>
                <hr>
                <!--Login Form -->
                <form action="" method="post" novalidate>
                    {% csrf_token %}                
                     <!--Username Field-->
                     <div class="mb-3">
                        <label for="{{ form.username.id_for_label }}"><b>{{ form.username.label }}</b></label>
                        {{ form.username }}
                        <small class="text-danger">{{ form.username.errors|striptags }}</small>
                    </div>
                    <!--Password Field-->
                    <div class=" mb-3">
                        <label for="{{ form.password.id_for_label }}"><b>{{ form.password.label }}</b></label>
                        {{ form.password }}
                       <small class="text-danger">{{ form.password.errors|striptags }}</small>
                    </div>   
                    <!--forget option-->
                    <small>
                        <a href="{% url 'reset_password' %}" class="text-decoration-none">
                            <b>Forget Password ?</b>
                        </a>
                    </small><br>
                    <!--login button-->
                    <input type="submit" value="Login" class="btn btn login-btn">
                    <!-- New User register Option -->
                    <div class="text-center fw-bold mt-3">
                        <small>
                            <b>New User?</b> 
                            <a href="{% url 'registration' %}" class="text-decoration-none">
                                <b>Register Now</b>
                            </a>
                        </small>
                    </div>
                    <!-- Non_field_error messages -->
                    {% if form.non_field_errors %}
                    <div class='alert alert-danger my-3'>
                        {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </form>
                <!--Login Form End-->
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
