{% load static %}
{% load custom_filters %}
{% block navbar %}
<!-- Main Navbar -->
<nav class="navbar navbar-expand-lg ">
    <div class="container">
        <!-- Button to toggle navigation -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left-aligned items -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"><b>Home</b></a>
                </li>
                <!-- Dog Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <b>Dog</b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'category' 'DF' %}">Dog Food</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'DT' %}">Dog Toys</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'DBP' %}">Dog Bathing Product</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'DL' %}">Dog Leash</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'DH' %}">Dog Harness</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'DB' %}">Dog Belt</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'GP' %}">Grooming</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'OP' %}">Other products</a></li>
                    </ul>
                </li>
                <!-- Cat Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <b>Cat</b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'category' 'CF' %}">Cat Food</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'CT' %}">Cat Toys</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'CBP' %}">Cat Bathing Product</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'CL' %}">Cat Leash</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'CH' %}">Cat Harness</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'CB' %}">Cat Belt</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'GP' %}">Grooming</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'OP' %}">Other products</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Right-aligned items -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if request.user.is_authenticated %}
                <!-- User Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <b>{{ request.user.username|remove_numbers }}</b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'order_success' %}">Order</a></li>
                        <li>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item">Logout</button>
                            </form>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'change_pwd' %}">Change Password</a></li>
                    </ul>
                </li>
                <!-- Cart Link -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart' %}" aria-disabled="true">
                        <span class="badge bg-danger">{% if totalitems > 0 %} {{ totalitems }} {% endif %}</span><b>Cart</b>
                    </a>
                </li>
                <!-- Wishlist Link -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'wishlist' %}" aria-disabled="true">
                        <span class="badge bg-danger">{% if wishlistitems > 0 %} {{ wishlistitems }} {% endif %}</span>
                        <i class="fas fa-heart fa-1x" style="color: #F48B48;"></i>
                    </a>
                </li>
                {% else %}
                <!-- Login and Register Links -->
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link" aria-disabled="true"><b>Login</b></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'registration' %}" class="nav-link" aria-disabled="true"><b>Register</b></a>
                </li>
                {% endif %}
                <!-- About and Contact Links -->
                <li class="nav-item">
                    <a href="{% url 'about' %}" class="nav-link" aria-disabled="true"><b>About</b></a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'contact' %}" class="nav-link" aria-disabled="true"><b>Contact</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--Live Search Bar-->
<nav class="navbar ">
    <div class="container-fluid justify-content-center d-flex">
        <form class="d-flex" role="search" action="/Search">
            <input class="form-control me-2 custom-search-input" 
            name="searched" 
            type="search" 
            placeholder="Search" 
            oninput="LiveSearchInput(event)"
            aria-label="Search">
            <button class="btn btn-outline-success custom-search-button" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
    <!--Product displaying section-->
    <div 
        id="searchResults" 
        class="dropdown-menu w-50 mt-1 display-flex shadow " 
        style="max-height: 300px; overflow-y: auto ;"
    ></div>
</nav>
<!--Live Search Bar End-->
{% endblock navbar %}