{% extends "app/base.html" %}
{% load static %}
{% block title %}Your Orders{% endblock title %}

{% block main-content %}
<!--navbar-->
{% include 'app/navbar.html' %}
<div class="container profile_form">
    <div class="row">
        
        <!-- Sidebar Navigation -->
        <div class="col-sm-3 border-end">
            <!-- User Greeting -->
        <h2>Hi, <span class="text-capitalize">{{ request.user }}</span></h2>
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-profile mb-2"><b>Profile</b></a>
                </li>
                <li class="d-grid">
                    <a href="{% url 'address' %}" class="btn btn-address mb-2"><b>Address</b></a>
                </li>
                <li class="d-grid">
                    <a href="#" class="btn btn-orders1  mb-2"><b>Order History</b></a>
                </li>
                <li class="d-grid">
                    <a href="{% url 'change_pwd' %}" class="btn btn-change-password mb-2"><b>Change Password</b></a>
                </li>
                <li class="d-grid">
                    <a href="{% url 'wishlist' %}" class="btn btn-wishlist"><b>Wishlist</b></a>
                </li>
            </ul>
        </div>
        
        <!-- Orders Section -->
        <div class="col-sm-9 mt-3 shadow p-2" style="overflow-y: auto; max-height: 400px;">
            {% for order in orders %}
            <div class="col-md-12 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row">
                            <!-- Product Image -->
                            <div class="col-md-3">
                                <img src="{{ order.product.product_image.url }}" class="img-fluid img-thumbnail" alt="{{ order.product.title }}" width="100px">
                            </div>
                            <!-- Product Details -->
                            <div class="col-md-6">
                                <h5 class="card-title">{{ order.product.title }}</h5>
                                <p class="card-text">Price: ₹{{ order.product.discount_price }}</p>
                                <p class="card-text">Quantity: {{ order.quantity }}</p>
                            </div>
                            <!-- Order Status -->
                            <div class="col-md-3">
                                {% if order.order_status %}
                                <p>{{ order.order_date }}</p>
                                <div class="progress" role="progressbar" aria-valuenow="{{ order.get_progress_value }}" aria-valuemin="0" aria-valuemax="100" style="height: 30px;">
                                    <div class="progress-bar {{ order.get_progress_class }}" style="width: {{ order.get_progress_value }}%;">
                                        {{ order.get_order_status_display }}
                                    </div>
                                </div>
                                {% endif %}
                                <div class="text-end">
                                    <!--Invoice download Option-->
                                    {% if order.order_status == 'DELIVERED' %}
                                        <a href="{% url 'invoice' order.id %}" class="text-decoration-none text-dark">
                                            <i class="fas fa-solid fa-file-invoice"></i> Invoice
                                        </a>
                                    {% endif %}

                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock main-content %}
