{% extends "app/base.html" %}
{% load static %}

{% block title %}Your Orders{% endblock title %}

{% block main-content %}
<div class="container my-5 profile_form">
    <div class="row">
        <!-- User Greeting -->
        <h2>Hi, <span class="text-capitalize">{{ request.user }}</span></h2>
        
        <!-- Sidebar Navigation -->
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-profile mb-2"><b>Profile</b></a>
                </li>
                <li class="d-grid">
                    <a href="{% url 'address' %}" class="btn btn-address mb-2"><b>Address</b></a>
                </li>
                <li class="d-grid">
                    <a href="#" class="btn btn-orders1"><b>Order History</b></a>
                </li>
            </ul>
        </div>
        
        <!-- Orders Section -->
        <div class="col-sm-9 offset-sm-3 shadow p-2" style="overflow-y: auto; max-height: 400px;">
            {% for order in orders %}
            <div class="col-md-12 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row">
                            <!-- Product Image -->
                            <div class="col-md-3">
                                <img src="{{ order.product.product_image.url }}" class="img-fluid img-thumbnail" alt="{{ order.product.title }}" width="100px">
                            </div>
                            <!-- Product Details -->
                            <div class="col-md-6">
                                <h5 class="card-title">{{ order.product.title }}</h5>
                                <p class="card-text">Price: ₹{{ order.product.discount_price }}</p>
                                <p class="card-text">Quantity: {{ order.quantity }}</p>
                            </div>
                            <!-- Order Status -->
                            <div class="col-md-3">
                                {% if order.order_status %}
                                <p>{{ order.order_date }}</p>
                                <div class="progress" role="progressbar" aria-valuenow="{{ order.get_progress_value }}" aria-valuemin="0" aria-valuemax="100" style="height: 30px;">
                                    <div class="progress-bar {{ order.get_progress_class }}" style="width: {{ order.get_progress_value }}%;">
                                        {{ order.get_order_status_display }}
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock main-content %}
