{% extends "app/base.html" %}
{% load static %}
{% block title %}Reset password Done{% endblock title %}

{% block main-content %}

<div class="login-background">
    <div class='container '>
        <div class="row my-2">
            <div class="col-sm-6 offset-sm-3 shadow p-5 login-form">
                <!--heading text-->
                <h1>
                    <i class="fas fa-paw" style="color: #FFD43B;"></i> 
                    <span class="color-1">Go TO</span> 
                    <span class="color-2">Mail</span>
                </h1>
                <hr>
                <h5>password reset link has send to your email id</h5>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}

