{% extends "app/base.html" %}
{% load static %}
{% block title %}Reset password confirm{% endblock title %}



{% block main-content %}
<div class="container">
    <div class="row my3">
        <div class=" col-sm-6 offset-sm-3">
            <h1>Confirm Your New Password</h1>
            <form method="post" action="" novalidate>
                {% csrf_token %}
                {% for fm in form%}   
                <div>
                {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>   
                </div>
                {% endfor %}   
                <div class="row pt-3">
                    <div class="col-md-12">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </div>
                
                <!-- Error messages -->
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
            </form>

        </div>
    </div>
</div>
{% endblock main-content %}

