{% extends "app/base.html" %}
{% load static %}
{% block title %}Payment{% endblock title %}

{% block main-content %}
<form method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
    var options = {
        key: "{{ razorpay_key }}",
        amount: "{{razor_amount}}", 
        currency: "INR",
        name: "name",
        description: "Test Transaction",
        image: "https://example.com/your_logo",
        order_id: "{{order_id}}",
        callback_url: "{{callback_url}}",
        redirect: true,
        prefill: {
            "name": "Gaurav Kumar",
            "email": "gaurav.kumar@example.com",
            "contact": "9999999999"
        },
        notes: {
            "address": "Razorpay Corporate Office"
        },
        theme: {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
    </script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>
{% endblock main-content %}