{% extends "app/base.html" %}
{% load static %}
{% block title %}Password Change Success{% endblock title %}

{% block main-content %}
<div class="container my-5 profile_form">
    <div class="row">
        <!-- User Name -->
        <h2>Hi, <span class="text-capitalize">{{ request.user.username }}</span></h2>
      
        <!-- Sidebar Options -->
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-profile mb-2"><b>Profile</b></a>
                </li>
                <li class="d-grid">
                    <a href="{% url 'address' %}" class="btn btn-address mb-2"><b>Address</b></a>
                </li>
                <li class="d-grid">
                    <a href="{% url 'order_success' %}" class="btn btn-orders mb-2"><b>Order History</b></a>
                </li>
                <li class="d-grid">
                    <a href="{% url 'change_pwd' %}" class="btn btn-change-password1 mb-2"><b>Change Password</b></a>
                </li>
            </ul>
        </div>

        <!-- Success Message Section -->
        <div class="col-sm-9 offset-sm-3 shadow p-5 d-flex justify-content-center">
            <h1 class="text-success">Password Changed Successfully!</h1>
           <!-- Back to Profile Button -->
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <a href="{% url 'profile' %}" class="btn btn-change-password1 "><b>Back To Profile</b></a>
            </div>
        </div>
        </div> 
    </div>
</div>
{% endblock main-content %}
