{% extends "app/base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}Change Password {% endblock title %}

{% block main-content %}
<!--navbar-->
{% include 'app/navbar.html' %}
<div class="container profile_form">
    <div class="row">      
        <!-- Sidebar Options -->
        <div class="col-sm-3 border-end">
            <!-- User Name -->
         <h2>Hi, <span class="text-capitalize">{{ request.user.username|remove_numbers }}</span></h2>
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-profile mb-2"><b>Profile</b></a>
                </li>
                <li class="d-grid">
                    <a href="{% url 'address' %}" class="btn btn-address mb-2"><b>Address</b></a>
                </li>
                <li class="d-grid">
                    <a href="{% url 'order_success' %}" class="btn btn-orders mb-2"><b>Order History</b></a>
                </li>
                <li class="d-grid">
                    <a href="{% url 'change_pwd' %}" class="btn btn-change-password1  mb-2"><b>Change Password</b></a>
                </li>
                <li class="d-grid">
                    <a href="{% url 'wishlist' %}" class="btn btn-wishlist"><b>Wishlist</b></a>
                </li>
            </ul>
        </div>

        <!-- Main Content Area -->
        <div class="col-sm-9 mt-3 shadow p-5" data-aos="fade-left" data-aos-duration="500">
            <!-- Display Messages -->
            {% if messages %}
            <div id="message-container" class="position-absolute end-0 m-3" style="z-index: 1000;">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" style="width: 300px;" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
            <form method="post" action="" novalidate>
                {% csrf_token %}
                {% for fm in form %}   
                    <div class="p-2">
                        {{ fm.label_tag }} {{ fm }}
                        <small class="text-danger">{{ fm.errors|striptags }}</small>   
                    </div>
                {% endfor %}   
                
                <div class="row pt-3">
                    <div class="col-md-12">
                        <input type="submit" value="Submit" class="btn login-btn">
                    </div>
                </div>

                <!-- Error messages -->
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
