{% extends "app/base.html" %}
{% load static %}
{% block title %}Register{% endblock title %}

{% block main-content %}
<div class='container'>
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3 shadow p-5">
            <h1 class="text-center">Register Now</h1>
            <hr>
            <!-- Registration Form -->
            <form action="" method="post" novalidate >
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}{{ field }}
                    <small class="text-danger">{{ field.errors|striptags }}</small>
                </div>
                {% endfor %}
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
            <!-- Existing User Login Option -->
            <div class="text-center text-primary fw-bold mt-3">
                <small>Existing User? 
                <a href="{% url 'login' %}" class="text-danger">Login Now</a>
                </small>
            </div>
            <!-- Non_field_error messages -->
            {% if form.non_field_errors %}
            <div class='alert alert-danger my-3'>
                {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <!-- Error messages -->
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock main-content %}
