{% extends "app/base.html" %}
{% load static %}
{% block title %}Reset password {% endblock title %}

{% block main-content %}

<div class="login-background">
    <div class='container '>
        <div class="row my-2">
            <div class="col-sm-6 offset-sm-3 shadow p-5 login-form">
                <!--heading text-->
                <h1>
                    <i class="fas fa-paw" style="color: #FFD43B;"></i> 
                    <span class="color-1">Reset</span> 
                    <span class="color-2">Password</span>
                </h1>
                <hr>
                <!--Login Form -->
                <form action="" method="post" novalidate>
                    {% csrf_token %}                
                    {% for fm in form%}   
                    <div>
                    <b>{{ fm.label_tag }}</b> {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>   
                    </div>
                    {% endfor %} 
                   <!--Login option-->
                   <small>
                    <a href="{% url 'login' %}" class="text-decoration-none">
                        <b>Back To Login </b>
                    </a>
                </small><br>
                    <!--Reset button-->
                    <input type="submit" value="Reset" class="btn btn btn-password-reset">
                    
                    <!-- Non_field_error messages -->
                    {% if form.non_field_errors %}
                    <div class='alert alert-danger my-3'>
                        {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </form>
                <!--Login Form End-->
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}



