{% extends "app/base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}Update{% endblock title %}

{% block main-content %}
<!--navbar-->
{% include 'app/navbar.html' %}
<div class="container m-5 update_address">
    <div class="row">
         <!-- Sidebar Options -->
         <div class="col-sm-3 border-end">
            <!-- User Name -->
          <h2>Hi, <span class="text-capitalize">{{ request.user.username|remove_numbers }}</span></h2>
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-profile mb-2"><b>Profile</b></a>
                </li>
                <li class="d-grid">
                    <a class="btn btn-add-new1 mb-2" id="add-address-btn" onclick="toggleAddressForm();"><b>Add New Address</b></a>
                </li>
                <li class="d-grid">
                    <a href="{% url 'order_success' %}" class="btn btn-orders mb-2"><b>Order History</b></a>
                </li>
                <li class="d-grid">
                    <a href="{% url 'change_pwd' %}" class="btn btn-change-password mb-2"><b>Change Password</b></a>
                </li>
                <li class="d-grid">
                    <a href="{% url 'wishlist' %}" class="btn btn-wishlist"><b>Wishlist</b></a>
                </li>
            </ul>
        </div>
        
        <div class="col-sm-9 mt-3 shadow p-2" data-aos="fade-left" data-aos-duration="500">
             <!-- Display Messages -->
             {% if messages %}
             <div id="message-container" class="position-absolute end-0 m-3" style="z-index: 1000;">
                 {% for message in messages %}
                     <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" style="width: 300px;" role="alert">
                         {{ message }}
                         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                     </div>
                 {% endfor %}
             </div>
             {% endif %}
             <!--Address Update form-->
            <form method="post" action="" novalidate>
                {% csrf_token %}
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form.name.label_tag }}{{ form.name }}
                        <small class="text-danger">{{ form.name.errors|striptags }}</small>
                    </div>
                    <div class="col-md-6">
                        {{ form.locality.label_tag }}{{ form.locality }}
                        <small class="text-danger">{{ form.locality.errors|striptags }}</small>
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form.city.label_tag }}{{ form.city }}
                        <small class="text-danger">{{ form.city.errors|striptags }}</small>
                    </div>
                    <div class="col-md-6">
                        {{ form.phone.label_tag }}{{ form.phone }}
                        <small class="text-danger">{{ form.phone.errors|striptags }}</small>
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form.state.label_tag }}{{ form.state }}
                        <small class="text-danger">{{ form.state.errors|striptags }}</small>
                    </div>
                    <div class="col-md-6">
                        {{ form.zipcode.label_tag }}{{ form.zipcode }}
                        <small class="text-danger">{{ form.zipcode.errors|striptags }}</small>
                    </div>
                </div>
                <!--button section-->
                <div class="row mb-3">
                    <div class="col-md-12 d-flex justify-content-between">
                        <button type="submit" class="btn btn-update">Update</button>
                        <a href="{% url 'address' %}" class="btn btn-secondary">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
