{% extends "app/base.html" %}
{% load static %}
{% block title %}Address{% endblock title %}

{% block main-content %}
<div class='container m-5 profile_form'>
    <div class="row">
        <!-- User Name -->
        <h2>Hi <span class="text-capitalize">{{ request.user }}</span></h2>
        <!-- Options -->
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-profile mb-2 text-white"><b>Profile</b></a></li>
                <li class="d-grid"><a class="btn btn-addNew text-white" id="add-address-btn"><b>Add New Address</b></a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-3 shadow p-5">
            <!-- Address Card -->
            <div class="row" id="existing-addresses">
                {% if add %}
                    {% for ad in add %}
                        <div class="col-sm-6 mb-3 mb-sm-0" style="width: 15rem;">
                            <div class="card shadow">
                                <div class="card-body">
                                    <h5 class="card-title text-capitalize">{{ ad.name }}</h5>
                                    <p class="card-text">{{ ad.locality }} <br>{{ ad.city }} <br>{{ ad.phone }} <br>{{ ad.state }} <br>{{ ad.zipcode }}</p>
                                    <a href="{% url 'update_address' pk=ad.id %}" class="btn btn-Update text-white">Update</a>
                                    <a href="{% url 'delete_address' pk=ad.id %}" class="btn btn-danger text-white">Delete</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <!-- New Address Form -->
            <div id="address-form" class="d-none">
                <form method="post" action="" novalidate>
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-md-6">
                            {{ form.name.label_tag }}{{ form.name }}
                            <small class="text-danger">{{ form.name.errors|striptags }}</small>
                        </div>
                        <div class="col-md-6">
                            {{ form.locality.label_tag }}{{ form.locality }}
                            <small class="text-danger">{{ form.locality.errors|striptags }}</small>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            {{ form.city.label_tag }}{{ form.city }}
                            <small class="text-danger">{{ form.city.errors|striptags }}</small>
                        </div>
                        <div class="col-md-6">
                            {{ form.phone.label_tag }}{{ form.phone }}
                            <small class="text-danger">{{ form.phone.errors|striptags }}</small>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            {{ form.state.label_tag }}{{ form.state }}
                            <small class="text-danger">{{ form.state.errors|striptags }}</small>
                        </div>
                        <div class="col-md-6">
                            {{ form.zipcode.label_tag }}{{ form.zipcode }}
                            <small class="text-danger">{{ form.zipcode.errors|striptags }}</small>
                        </div>
                    </div>
                    <!-- Submit-button -->
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <input type="submit" value="Submit" class="btn btn-addNew text-white">
                        </div>
                    </div>    
                </form>
            </div>
            <!-- New Address From End -->
        </div>
    </div>
</div>
{% endblock main-content %}
