{% extends "app/base.html" %}
{% load static %}
{% block title %}wishlist{% endblock title %}

{% block main-content %}
<div class="container mt-5">
    <div class="row align-items-center mb-4">
        <div class="col-md-6">
            <h2>Wishlist Items</h2>
        </div>
        <div class="col-md-6 text-end">
            <a href="/" class="btn btn-info">Back to Home</a>
        </div>
    </div>
    <div class="row">
        {% for items in wishlist %}
            <div class="col-md-12 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="{{ items.product.product_image.url }}" class="img-fluid img-thumbnail" alt="{{ items.product.title }}" width="100px">
                            </div>
                            <div class="col-md-6">
                                <h5 class="card-title">{{ items.product.title }}</h5>
                                <p class="card-text">Price: ₹{{ items.product.discount_price }}</p>
                                <p class="card-text">Quantity: {{ items.quantity }}</p>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-success shadow  py-2 ms-4" style="width:150px;">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock main-content %}
